/* ------------------------- */


/* Overlay */


/* ------------------------- */

.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, .9);
    display: none;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.overlay.activo {
    display: flex;
}

.overlay div #overlay-ima {
    max-width: 25%;
    margin: auto;
}

.nombre {
    color: white;
    font-size: 50px;
    margin: 15px;
    min-width: 400px;
}

.contenedor-img {
    position: relative;
}

.overlay #btn-cerrar-popup {
    background: none;
    font-size: 20px;
    color: #fff;
    border: none;
    cursor: pointer;
    position: absolute;
    right: -20px;
    top: -20px;
}


/*CATEGORIAS*/

.categorias {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    min-height: 60%;
    width: 90%;
    /* max-width: 800px; */
    min-width: 600px;
}

.categorias p {
    display: none;
    background: #fff;
    padding: 20px;
    text-align: center;
    margin-top: 5px;
    position: absolute;
    margin-top: 30px;
    width: 90%;
    min-width: 600px;
    height: 60%;
}

.categorias p.pactivo {
    display: block;
}

.categorias a {
    padding: 5px 10px;
    background-color: white;
    border-radius: 10px 10px 0 0;
    color: #9B9B9B;
    font-size: 18px;
    font-weight: 700;
    /* min-width: 150px; */
    width: 25%;
    height: 30px
}

.categorias a.activo {
    color: #000;
}